.container{
  display: grid;
  grid-template-columns: repeat(3, 70px);
  grid-template-areas: 
      "a b c"
      "d . e"
      "f g h"
  ;
  gap: 10px;
}

.a{ grid-area: a;}
.b{ grid-area: b;}
.c{ grid-area: c;}
.d{ grid-area: d;}
.e{ grid-area: e;}
.f{ grid-area: f;}
.g{ grid-area: g;}
.h{ grid-area: h;}

.box{
  padding: 20px;
  border: 1px solid black;
  background-color: white;
}

.box.active{
  background-color: green;
}